@import "../../utils/Color.scss";

// *,
// *:before,
// *:after {
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
//   position: relative;
// }

.main-container {
  // margin: 0 10rem;
  margin: 0 10%;
  height: 1000px;
  // padding: 1vh 0vw;

  .container {
    display: flex;
    align-items: center;
    // flex-direction: row;
    // justify-content: center;
    // border: 1px solid white;

    .content {
      position: relative;
      // padding: 300px 0;

      .place {
        text-align: right;
        letter-spacing: -1px;
        margin-left: 30px;

        // margin-left: 100px;
        // transform: translateX(-50%) rotate(-10deg);
        // display: block;
        // float: left;
        // left: 50%;
        // position: relative;
      }

      h2 {
        font-size: 3rem;
        font-weight: 800;
        color: $blackColor;
      }

      h1 {
        font-size: 9rem;
        color: $blackColor;
      }
      p {
        font-size: 1.4rem;
        color: $blackColor;
        line-height: 1.9rem;
        // font-weight: 500;
      }
      .button-container {
        button {
          margin-top: 20px;

          // // display: block;
          // // float: left;
          // text-shadow: $blackColor 1px 1px, $blackColor 2px 2px,
          //   $blackColor 3px 3px, $blackColor 4px 4px;
        }
      }
    }
    .image {
      img {
        height: 50rem;
        animation: bounce 2s linear infinite;
        // border: 1px solid white;
        // margin-left: -70px;
      }
    }
  }
}

@keyframes UpDown {
  0% {
    bottom: 0;
  }
  50% {
    bottom: 0.5em;
  }
  100% {
    bottom: 0;
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

h1 {
  display: inline-block;
  text-shadow: 0.03em 0.03em 0 #6b8e8a;
  transform: skew(-20deg);
  display: block;
  font-weight: 900;

  //   text-shadow: #3e524f 1px 1px, #3e524f 2px 2px, #3e524f 3px 3px,
  //     #3e524f 4px 4px, #3e524f 5px 5px, #3e524f 6px 6px;
  //   min-width: 10px;
  //   min-height: 10px;
  position: relative;
  &::after {
    content: attr(data-shadow);
    position: absolute;
    top: 0.06em;
    left: 0.06em;
    z-index: -1;
    text-shadow: none;
    background-image: linear-gradient(
      45deg,
      transparent 45%,
      #22272e 45%,
      #22272e 55%,
      transparent 0
    );
    background-size: 0.05em 0.05em;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    animation: identifier 15s linear infinite;
  }
}

@keyframes identifier {
  0% {
    background-position: 0 0;
  }
  0% {
    background-position: 100% -100%;
  }
}

// @media screen and (min-width: 320px) and (max-width: 480px) {
//   .main-container {
//     .container {
//       // grid-template-columns: 1fr;
//       .content {
//         margin-right: 0;
//         h1 {
//           font-size: 4rem;
//         }
//         p {
//           font-size: 2rem;
//           line-height: 2.5rem;
//         }
//       }
//       .image {
//         margin-left: 2rem;
//         img {
//           height: 25rem;
//           width: 25rem;
//         }
//       }
//     }
//   }
// }

// // @media screen and (max-width: 768px) {
// //   html {
// //     // font-size: 8px;
// //   }
// // }

// @media screen and (min-width: 769px) and (max-width: 1024px) {
//   .main-container {
//     padding-bottom: 3rem;
//     .container {
//       .content {
//         h1 {
//           font-size: 2rem;
//         }
//         p {
//           font-size: 1rem;
//           line-height: 1.4rem;
//         }
//       }
//       .image {
//         img {
//           height: 30rem;
//           width: 30rem;
//         }
//       }
//     }
//   }
// }
