@import "../../utils/Color.scss";

.logo {
  cursor: pointer;
  span {
    text-transform: uppercase;
    font-size: xx-large;
    padding: 0.6rem 0rem;
    color: $blackColor;
    font-weight: bolder;
    letter-spacing: 0.1rem;
    font-weight: 900;
    transform: skew(-20deg);
  }

  img {
    width: 70px;
  }
}

.footer {
  span {
    color: $greenColor;
  }
}
